body{
    background-color: black;
    color: #E9DCD6;
}

.height{
    height: 100vh;
}

.social a {
    text-decoration: none;
    color: #E9DCD6;
  }

  /* Animation for sliding in from the right */
@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Animation for sliding in from the left */
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Apply the animation to the text */
  .slide-right {
    animation: slideInFromRight 1s ease-out forwards;
  }
  
  .slide-left {
    animation: slideInFromLeft 1s ease-out forwards;
  }
  
  /* Additional styling for smooth transitions */
  .text-container {
    overflow: hidden; /* Ensure the animation doesn't look weird as it slides in */
  }

  .expert-para{
    text-shadow: 0 0 10px #FFB0E9;
}
  
.contact-image{
  
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.contact-para{
  text-shadow: 0 0 10px #E9DCD6;
}



.contactForm{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
 
}
.name, .email, .msg{
  font-size: medium;
  width: 100%;
 
  margin: 0.5rem;
  padding: 1.2rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(40, 40, 40);
}

.submitbtn{
  background: white;
  border: none;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 0.75rem 3.5rem;

}

.icons a i{
  
  color: white;
}

.footer{
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background:rgb(40, 40, 40,.3);
}

